h1 {
  margin-left: 0.3em;
  color: $secondary-color;
  font-weight: 700;
  font-family: $font-main;

  @include mobile {
    font-size: larger;
    margin-left: 0.8em;
  }
}

.hrTitre2 {
  color: $primary-color;
  border: 4px solid $primary-color;
  opacity: 1;
  width: 2.5em;

  @include mobile {
    border: 2px solid $primary-color;
    width: 1.5em;
  }
}

h2 {
  color: $secondary-color;
  font-weight: 700;
  margin-bottom: 0.8em;
  font-family: $font-main;
  @include mobile {
    font-size: large;
  }
}

h3 {
  color: $primary-color;
}

h4 {
  color: $tertiary-color;
}

p {
  color: $tertiary-color;
  font-family: $font-main;
}

body {
  font-family: $font-main;
}

.chevronMenu {
  width: 0.6em;
  margin-left: 1em;
}

.boutonDecouvrir {
  border: none;
  background-color: white;
  color: $secondary-color;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin-left: 5em;
  padding-bottom: 0.8em;
  margin-top: 1em;

  @include mobile {
    letter-spacing: 0.1em;
    margin-top: 0.3em;
  }
}

.boutonDecouvrir:hover {
  border-bottom: $secondary-color solid 1px;
}

.flecheDecouvrir {
  margin-left: 1em;
}

// a {
//   color: $secondary-color;
//   text-decoration: none;
//   margin-left: 1em;
//   margin-right: 1em;
// }

// a:hover {
//   color: $secondary-color;
//   text-decoration: none;
//   margin-left: "1em";
// }

// a:active {
//   color: $active-color;
//   text-decoration: underline;
//   margin-left: "1em";
// }

// .card-title {
//   color: $secondary-color;
// }

@import "./pages";
@import "./components";
