h1 {
  margin-left: 0.3em;
  color: $secondary-color;
  font-weight: 700;
  font-family: $font-main;
}

.hrTitre2 {
  color: $primary-color;
  border: 4px solid $primary-color;
  opacity: 1;
  width: 2.5em;
}

h2 {
  color: $secondary-color;
  font-weight: 700;
  margin-bottom: 0.8em;
  font-family: $font-main;
}

h3 {
  color: $primary-color;
}

h4 {
  color: $tertiary-color;
}

p {
  color: $tertiary-color;
  font-family: $font-main;
}

body {
  font-family: $font-main;
}

.chevronMenu {
  width: 0.6em;
  margin-left: 1em;
}

.boutonDecouvrir {
  border: none;
  background-color: white;
  color: $secondary-color;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin-left: 5em;
  padding-bottom: 0.8em;
  margin-top: 1em;
}

.boutonDecouvrir:hover {
  border-bottom: $secondary-color solid 1px;
}

a {
  color: $secondary-color;
  text-decoration: none;
  margin-left: 1em;
  margin-right: 1em;
}

a:hover {
  color: $secondary-color;
  text-decoration: none;
  margin-left: "1em";
}

a:active {
  color: $active-color;
  text-decoration: underline;
  margin-left: "1em";
}

.card-title {
  color: $secondary-color;
}

// footer

.footer {
  background-color: $primary-color;
}

.logoFooter {
  height: 5em;
  margin-left: -25em;
}

.titreFooter {
  color: $light-color;
  font-weight: 900;
  letter-spacing: 0.3em;
}

.contentFooter {
  color: $light-color;
  margin-bottom: 0.3em;
  letter-spacing: 0.5em;
}

.hrFooter {
  color: $light-color;
  border: 1px solid $light-color;
  margin-left: 15em;
  margin-right: 15em;
  opacity: 1;
}

.footerLink {
  margin-right: "1em";
  color: $light-color;
  text-decoration: underline;
}

// header

.menuItem {
  color: $tertiary-color;
}

.menuItem:hover {
  color: $tertiary-color;
}

.architecte {
  height: 10em;
  margin: 1em;
}

.logo {
  height: 10em;
}

.menu {
  margin-top: 6em;
}

.iconeMenu {
  width: 1em;
  margin-right: 1em;
}

input {
  outline-color: $primary-color;
  margin-right: 1em;
}

// home

.boutonBasPage {
  border: none;
  background-color: $primary-color;
  color: $light-color;
  border-radius: 5px;
  padding: 0.7em 2em;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: larger;
}

.boutonBasPage:hover {
  background-color: $secondary-color;
}

.card-title {
  cursor: pointer;
}

.card-title:hover {
  color: $hover-color;
}

// recherche

.boutonRecherche {
  border: none;
  background-color: $primary-color;
  color: $light-color;
  border-radius: 5px;
  padding: 0.5em 1.5em;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: medium;
  margin-bottom: 2em;
  width: 10em;
}

.boutonRecherche:hover {
  background-color: $secondary-color;
  cursor: pointer;
}

.form-select {
  background-color: $light-color;
  border: solid 2px $tertiary-color;
  margin-bottom: 1em;
  width: 60%;
}

.resultatRecherche {
  border-left: solid 1px $primary-color;
  padding-left: 2em;
}
