.footer {
  background-color: $primary-color;
}

.logoFooter {
  height: 5em;
  margin-left: -25em;
}

.titreFooter {
  color: $light-color;
  font-weight: 900;
  letter-spacing: 0.3em;
}

.contentFooter {
  color: $light-color;
  margin-bottom: 0.3em;
  letter-spacing: 0.5em;
}

.hrFooter {
  color: $light-color;
  border: 1px solid $light-color;
  margin-left: 15em;
  margin-right: 15em;
  opacity: 1;
}
