.chevronMenu {
  width: 0.6em;
  margin-left: 1em;
}

h1 {
  margin-left: 0.3em;
  color: #00497c;
  font-weight: 700;
}

.hrTitre2 {
  color: #0074c7;
  border: 4px solid #0074c7;
  opacity: 1;
  width: 2.5em;
}

.imageHome1 {
  width: 32em;
  margin-right: 5em;
}

h2 {
  color: #00497c;
}

.boutonDecouvrir {
  border: none;
  background-color: white;
  color: #00497c;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin-left: 5em;
  padding-bottom: 0.8em;
  margin-top: 1em;
}

.boutonDecouvrir:hover {
  border-bottom: #00497c solid 1px;
}
